<div class="modal fade" id="attributionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          Разработано <a href='mailto:rendrom@gmail.com'>rendrom@gmail.com</a>
        </h4>
      </div>
      <div class="modal-body">
{#            <div id="attribution"></div>#}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->