<li class="dropdown" ng-cloak ng-show="Entries.model">
    <a id="toolsDrop" role="button" class="dropdown-toggle" data-toggle="dropdown">
        &nbsp;&nbsp;Инструменты <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a data-toggle="collapse" data-target=".navbar-collapse.in"
               ng-click="showFullExtent()">
            <i class="fa fa-arrows-alt"></i>&nbsp;&nbsp;Вся карта</a>
        </li>
        <li><a data-toggle="collapse" data-target=".navbar-collapse.in" ng-click="bboxSearchMode()">
            <i class="fa fa-square-o"></i>&nbsp;&nbsp;Выбрать прямоугольником</a>
        </li>
        <li ng-if="(Entries.queryEntryCount && Entries.baseEntryCount != Entries.queryEntryCount)||(is_filter)">
            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="" ng-click="cleanSelection()">
                <i class="fa fa-ban"></i>&nbsp;&nbsp;Сбросить выборку</a>
        </li>
        <li ng-if="(auth.user && auth.user===Entries.dynamit.user)">
            <a href="" ng-click="goToCreatePage()" data-toggle="collapse" data-target=".navbar-collapse.in">
                <i class="fa fa-plus-square"></i>&nbsp;&nbsp;{$ NAMES.entry.create_short $}</a>
        </li>
    </ul>
</li>